body{
    width:100%;
    height:100%;
}

.container{
    background-image: url(img/homebg.png);
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    margin:auto;
    align-content: center;
}


.bloomDiv{
    background-image: url(img/logo.png);
    z-index: 99;
    height:100%;
    width:20%;
    background-repeat: no-repeat;
    margin: 0;
    position: absolute;
    float: left;
}

.navigation{
    width:70%;
    display:inline-flex;
    float:right;
    
}   


.navHome, .navProduct, .navAbout, .userInfo, .cart, .search {
    padding: 6%;
    
}

.userImg{
    width:20px;
    height:20px;
    background-image: url(img/person.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cartImg{
    width:20px;
    height:20px;
    background-image: url(img/shoppingbag.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.searchImg{
    width:20px;
    height:20px;
    background-image: url(img/search.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap{
    top:0;
    position:sticky;
    background-color: white;
    height:17%;
    width:100%;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shopnow{
    background-image: url(img/shopnow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:10%;
    width:15%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    position:absolute;
}

.Pcontainer{
    width:100%;
    height:100%;
    position:absolute;
    margin:auto;
    align-content: center;
}

.productBg{
    background-image: url(img/product_banner.png);
    background-size: cover;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.productP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: white;
    font-size: 2.5em;
    height: 18%;
    width:15%;
}

.productLists{
    width:100%;
    height:100%;
    display:inline-flex;
    position:absolute;
    margin:auto;
}

.listOne, .listTwo, .listThree{
    padding:2%;
    width:30%;
    height:50%;
    text-align: center;
    
}

.productImg1{
    background-image: url(img/product1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:90%;
    float:left;
}

.productImg2{
    background-image: url(img/product2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:90%;
    float:left;
    margin: 0;
}
.productImg3{
    background-image: url(img/product3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:90%;
    float:left;
}

.productDetails1{
    position:relative;
}
.productDetails2{
    position:relative;
}
.productDetails3{
    position:relative;
}


.aboutBg{
    background-image: url(img/about_banner.png);
    background-size: cover;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.aboutP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: white;
    font-size: 2.5em;
    height: 18%;
    width:15%;
    
}

.aboutUs{
    width:100%;
    position:static;
    margin:auto;
    text-align: center;
}

.aboutDetail{
    width:80%;
    margin: auto;
    padding:5%;
}


.orderBg{
    background-color: white;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.orderP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: black;
    font-size: 2.5em;
    height: 18%;
    width:20%;
    
}

.orderLists{
    width:80%;
    text-align: center;
    margin: auto;
}

.orderTable {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:#f5f5f5;
}

.checkout{
    right:0;
    padding:1%;
    color:white;
    width:10%;
    font-size:0.8em;
    background-color: #ee713c;
}

.checkoutBg{
    background-color: white;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.checkoutP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: black;
    font-size: 2.5em;
    height: 18%;
    width:20%;
    
}

.accountBg{
    background-color: white;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.accountP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: black;
    font-size: 2.5em;
    height: 18%;
    width:20%;
    
}

.searchBg{
    background-color: white;
    width:100%;
    height:40%;
    position: relative;
    text-align: center;
}

.searchP{
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: black;
    font-size: 2.5em;
    height: 18%;
    width:20%;
    
}

.detailContainer{
    background-color: white;
    position:absolute;
    height: 80%;
    width:80%;
    margin: auto;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detailPhoto{
    background-image: url(img/product1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:50%;
    height:90%;
    float:left;
}

.detailDesc{
    padding:5%;
    width:40%;
    height:90%;
    float:right;
}

.addToCart{
    padding:2%;
    width:80%;
    background-color: white;
    color: black;
    border-color: black;
}
